* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    background: #2e80ce;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 5rem;
    letter-spacing: -2%;
    line-height: 60px;
    color: #10375c;
}

.section-desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #575f66;
}

/* Header */
.header {
    background-color: #10375c;
    padding: 30px 0 10px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
    text-align: right;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    font-weight: 300;
    font-style: Light;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #c9d2da;
}

.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    left: -8px;
    top: -2px;
}

.action {
    display: flex;
    gap: 28px;
}

.action__login {
    font-weight: 300;
    font-style: Light;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #c9d2da;
}

.action__login:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.action__signup {
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    line-height: 44px;
    position: relative;
    top: -8px;
}

/* Hero */
.hero {
    padding: 66px 0 110px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    max-width: 44.5%;
    margin-top: 60px;
}

.hero__media {
    max-width: 45.6%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    z-index: 1;
    border-radius: 6px;
}

.hero__img:last-child {
    position: relative;
    right: 2px;
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    object-fit: cover;
}

.hero__heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 7rem;
    line-height: 80px;
    letter-spacing: -2%;
    color: #fff;
}

.hero__desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #c9d2da;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
    align-items: center;
}

.hero__tell {
    margin-left: 38px;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #fff;
}

/* Service */
.service {
    margin-top: 170px;
}

.service__heading {
    text-align: center;
}

.service__desc {
    text-align: center;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.service-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 12px;
}

.service__list {
    margin-top: 35px;
    margin-bottom: 55px;
}

/* Service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: #2e80ce;
}

.service-item__heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    letter-spacing: 0%;
    color: #10375c;
}

.service-item__desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #575f66;
    width: 351px;
    margin-top: 8px;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    margin-right: 19px;
    transition: 0.25s;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}
/* How it work */
.how {
    margin-top: 170px;
    background-color: #f6fbff;
}

.how__heading {
    padding-top: 100px;
    padding-bottom: 18px;
}

.how__desc {
    width: 468px;
}

.how-item {
    margin-top: 86px;
    width: 370px;
    height: 402px;
    background: #ffffff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
    margin-bottom: 100px;
}

.how-item:hover {
    position: relative;
    border-color: #2e80ce;
    top: -16px;
}

.how-item__content {
    padding: 43px 42px;
}

.how-item__heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2.6rem;
    letter-spacing: 0%;
    color: #10375c;
    margin-top: 18px;
}

.how-item__desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #575f66;
    margin-top: 28px;
    margin-bottom: 18px;
}

.how-item__more {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    letter-spacing: 0%;
    color: #2e80ce;
}

.how__list {
    display: flex;
    justify-content: space-between;
}
/* Feature */
.feature {
    margin-top: 170px;
}

.feature__body {
    display: flex;
    justify-content: space-between;
}

.feature__images {
    width: 570px;
    height: 491px;
    position: relative;
}

.feature__img:first-child {
    width: 512px;
    height: 370px;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 121px;
    left: 238px;
}

.feature__heading {
    width: 470px;
    line-height: 60px;
    margin-top: 82px;
}

.feature__desc {
    width: 468px;
    margin: 18px 0 38px;
}
/* Member */
.member {
    margin-top: 170px;
}
.member__header {
    text-align: center;
}

.member__heading {
    margin-bottom: 38px;
}

.member .btn {
    margin-bottom: 70px;
}

.member__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.member-item__img-bg {
    width: 270px;
    height: 318px;
    background-color: #eaf6ff;
    display: flex;
    align-items: end;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__name {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    letter-spacing: 0%;
    color: #10375c;
    margin-top: 12px;
    text-align: center;
}

.member-item__desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    color: #575f66;
    text-align: center;
}

.member-item:hover .member-item__avatar {
    transform: scale(1.1);
}

.member-item__avatar {
    transition: 0.25s;
}

.member__control {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 38px;
}

.member__control-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background-color: #fff;
    transition: 0.25s;
}

.member__control-btn:hover {
    color: #fff;
    background-color: #2e80ce;
    border-color: #2e80ce;
    cursor: pointer;
}

.member__control-btn:last-child {
    rotate: 180deg;
}
/* Install */
.install {
    margin-top: 265px;
    background-color: #2e80ce;
}

.install__content {
    display: flex;
    justify-content: space-between;
    height: 427px;
}

.install__media {
    margin-top: -95px;
}

.install__info {
    max-width: 586px;
    margin-top: 76px;
}

.install__heading {
    color: #fff;
}

.install__desc {
    color: #fff;
    margin: 18px 0 38px;
}

.install__platform {
    display: flex;
    gap: 28px;
}

.install__app {
    cursor: pointer;
}
/* BLog */
.blog {
    margin-top: 170px;
}

.blog__body {
    display: flex;
    justify-content: space-between;
}

.blog__title {
    margin-top: 68px;
    max-width: 470px;
}

.blog__link {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 1.8rem;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #10375c;
    margin-top: 28px;
}

.blog__control {
    display: flex;
    gap: 18px;
    margin-top: 28px;
}

.blog__control-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background-color: #fff;
    transition: 0.25s;
}

.blog__control-btn:hover {
    color: #fff;
    background-color: #2e80ce;
    border-color: #2e80ce;
    cursor: pointer;
}

.blog__control-btn:last-child {
    rotate: 180deg;
}

.blog__article--heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0%;
    color: #10375c;
}

.blog__article--desc {
    font-weight: 300;
    font-style: Light;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0%;
    color: #575f66;
    margin: 10px 0 12px;
}

.blog__article--more {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.4rem;
    letter-spacing: 0%;
    color: #10375c;
}

.blog__article {
    width: 270px;
    height: 375px;
    background-color: #fff;
    border: 1px solid #e8ebee;
    border-radius: 12px;
    transition: 0.25s;
}

.blog__article:hover {
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0px 18px 50px 0px #0000000d;
}

.blog__article:hover .blog__article--more {
    color: #2e80ce;
}

.blog__read {
    display: flex;
    gap: 30px;
}

.blog__article--info {
    padding: 18px 22px;
}
/* Appointment */
.appointment {
    margin-top: 170px;
    background-color: #f6fbff;
    text-align: center;
}

.appointment .btn {
    margin-bottom: 100px;
}

.appointment__heading {
    display: inline-block;
    margin: 100px 0 18px;
}

.appointment__line {
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
    margin-left: auto;
    margin-right: auto;
}

.appointment__desc {
    max-width: 617px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 38px;
}
/* Footer  */
.footer {
    background-color: #10375c;
    margin-top: 170px;
    padding-bottom: 42px;
}
.footer__row {
    padding: 100px 0 28px;
    display: flex;
    justify-content: space-between;
    gap: 78px;
}

.footer__slogen {
    margin-top: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #a9b3bb;
    max-width: 336px;
}

.footer__title {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.6rem;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 20px;
}

.footer__link {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.4rem;
    letter-spacing: 0%;
    color: #a9b3bb;
    margin-top: 14px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__list--bonus {
    margin-top: 28px;
}

.footer__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    color: #a9b3bb;
    max-width: 273px;
}

.footer__social {
    display: flex;
    gap: 10px;
    margin-bottom: 28px;
}

.footer__social--btn {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #2e80ce;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.footer__social--btn:hover {
    color: #fff;
    background-color: #2e80ce;
}

.footer-form {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.footer-form__input {
    outline: none;
    width: 212px;
    height: 46px;
    padding: 0 10px;
    border: 1px solid #406181;
    border-radius: 4px;
    color: #fff;
    background: transparent;
}

.footer-form__input::placeholder {
    font-size: 1.4rem;
    color: #9ca8b1;
}

.footer-form__submit {
    height: 46px;
    line-height: 40px;
    font-size: 1.4rem;
    border-radius: 4px;
    border-color: #2e80ce;
    min-width: 108px;
}

.footer__line {
    width: 1170px;
    height: 1px;
    background-color: #406181;
}

.footer__copyright {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    color: #aab3ba;
    margin-top: 28px;
}
